/*
Colors used:

Button//
Primary color :#000000 black
Secondary color :#C6C6C6 lightgrey
Hover : #C6C6C6
visited : #8C8C8C

About page //
Text >
Header : light grey #C6C6C6;
Subtitle, Body text,Caption : grey #8C8C8C;
CTA :#C6C6C6;

Styling :
Header frame BG: beige #3B3734
BG: gradiant #302A27 & #000000;

Index page //

Navigation section >
Active #000000 ;
Inactive #C6C6C6
BG : #FFFFFF

Body >
header white #000000
Subtilte : grey #8C8C8C
Body text : light grey #C6C6C6
Background: lighter grey #F5F5F5

Footer section >
CTA: black #000000 ;
Subtitle: light gray #C6C6C6
BG : white #FFFFFF

Summit container >
Text : dark blue #032870 ;
Button : blue #1169EE;

Userflow container  Text : green #1E6E35 ; red #F76943; Blue #1169EE
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Outfit', sans-serif;
  font-size: 1em;
  /* Sets the font size From 16px to 36px */
  font-weight: 400;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #949494;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1, .h1 {
  background-color: transparent;
  color: #8C8C8C;
  font-size: 1.5em;
  /*  36px */
  font-weight: 700;
  text-align: center;
}

h2 {
  background-color: transparent;
  color: #8C8C8C;
  font-size: 1.125em;
  /*  24px */
  font-weight: 700;
}

h3 {
  background-color: transparent;
  color: #8C8C8C;
  font-size: 1.125em;
  /*  24px */
  font-weight: 700;
}

h4 {
  background-color: transparent;
  color: #8C8C8C;
  font-size: 1em;
  /*  16px */
  font-weight: 600;
}

img {
  width: 100%;
}

a {
  background-color: transparent;
  color: #000000;
  /* underlining */
}

a:visited {
  /* visited link */
  background-color: transparent;
  color: #000000;
}

a:hover, a:focus {
  /* Underlining when hovering over a link */
  background-color: transparent;
  color: #949494;
}

a:active {
  /* selected link clic the link  darker color*/
background-color: transparent;
  color: #2D69C2;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #FFFFFF;
  color: #1169EE !important;
  /* color stays white // needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 0px;
  border-bottom: 0px solid #FFFFFF;
  border: 2px solid #1169EE;
  /* width of the border, type, color */
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.6;
  /* Reduces the opacity of the button to 80% */
}

.button.contact {
  background-color: transparent;
  color: #000000 !important;
  font-weight: 400;
  border: 2px solid #000000;
}

.button.contact:hover {
  background-color: #C6C6C6;
  color: #FFFFFF;
}

.container {
  padding: 0 15px;
}

.column_paragraph {
  padding: 0 12px;
}

/* Layout styling */
header {
  background-color: #F5F5F5;
  /*text-align: center;*/
  border-bottom: 1px solid #C6C6C6;
  width: 100%;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(50, 50, 55, 0.18);
  -moz-box-shadow: 0px 2px 15px 0px rgba(50, 50, 55, 0.18);
  box-shadow: 0px 2px 15px 0px rgba(50, 50, 55, 0.18);
  position: fixed;
}

header a {
  text-decoration: none;
}

.logo {
  font-family: 'Reenie Beanie', cursive;
  font-size: 2em;
}

a.logo:hover {
  background-color: transparent;
  color: #000000;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

nav li {
  margin: 0 15px;
  padding-bottom: 3px;
}

nav a {
  text-decoration: none;
  padding: 0;
}

nav a:visited {
  /* visited link */
  background-color: transparent;
  color: #000000;
}

nav a:hover {
  background-color: transparent;
  color: #000000;
}

nav a:active {
  /* selected link clic the link  darker color*/
  background-color: transparent;
  color: #1169EE;
}

.icon {
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 20px;
}

.navtoggle.responsive li{
  display:block;
}

.intro span {
  display: block;
}

.intro p {
  /*max-width: 504px;*/
  margin: 0 auto;
}

.intro {
  text-align: center;
}

main {
  padding-top: 58px;
}

.section {
  padding: 12px 0;
}

#work {
  text-align: center;
  padding-bottom: 4px;
  border-top: 1px solid #DADADA;
}

#work .row {
  /* margin: 12px 0;*/
  /* 25px top and bottom, 0 left and right */
  padding-bottom: 12px;
  /*border-bottom: 1px solid #DADADA;*/
}

/*#work .row :last-child {
  padding-bottom: 0;
  border-top: none;
}*/
.arrow_link {
  display: flex;
  /*column-gap: 0.5em;*/
  align-items: center;
  align-content: flex-start;
  max-width: 1200px;
  padding: 1.5em 1.85em 0;
}

.arrow_link a {
  text-decoration: none;
}

.arrow_link.navy a {
  background-color: transparent;
    color: #023873;
}

.go_to.navy a{
  background-color: transparent;
color: #023873;
}

.project_summit.navy {
  background-color: transparent;
  color: #023873;
}

.go_to {
  display: inline-flex;
  padding: 8px 0 3px;
  height: 2.5em;
  margin: 0 15px;
  border-bottom: 3px solid transparent;
}

.animation {
  background-color: transparent;
  display: flex;
  align-items: center;
  align-content: flex-start;
  max-width: 1200px;
  padding: 0 2.85em;
  color: #000000
}

.project_summit {
  background-color: transparent;
  color: #000000;
  padding-left: 3em;
  text-align: left;
  max-width: 342px;
}

.project_note {
  background-color: transparent;
  color: #000000;
  padding-left: 3em;
  text-align: left;
  max-width: 342px;
}

/*.project_animation {
  padding-left: 3em;
  text-align: left;
  max-width: 342px;
  color: #000000;*/
}

a.button.button_case{
  background-color: transparent;
  color: #1169EE !important;
  border: 2px solid #1169EE;
  padding: 4px 12px;
  border-radius: 3px;
  margin: 0 5em;
  margin-top: 1em;
  margin-bottom: 1.5em
}

.center {
  text-align: center;
  padding: 24px 0;
}

.button_case:hover {
  background-color: #F5F5F5;
  color: #0F4495;
}

.button_contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social_icons ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.social_icons ul li {
  margin: 0 1em;
}

.role {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.role ul {
  list-style-type: none;
  padding-left: 0;
}

.social_icons li:hover {
  border-bottom: 3px solid #000000;
}

.button_back {
  display: inline-flex;
  height: 2.5em;
}

p {
  padding: 0 12px;
}

.header {
  padding: 0 12px;
}

/* ---------------------Index PAGE---------------------*/
/* ------------------------------------------------------*/
/* ------------------------------------------------------*/

.summit {
  background-color: #C0D8F0;
}
.note_bg {
  background-color: #ECECF0;
}

.go_to svg path {
fill: #023873;
}

.go_to svg {
max-width: 2.8em;
}
/* ---------------------SUMMIT PAGE---------------------*/
/* ------------------------------------------------------*/
/* ------------------------------------------------------*/
.summit_bg_0{
    background-color: #F5F5F5;
}
.summit_bg {
  background-image: url("../img/summit/summit_cover_mockup_BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.summit_bg_1 {
  background-image: url("../img/summit/BGmockup@1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.summit_bg_2 {
  background-color: #1C5B9A;
  padding: 1px 0;
  padding-bottom: 34px;
  margin-top: -2px;
}

.summit_bg_2 h3 {
  color: #FFFFFF;
}

.summit_bg_2 p {
  color: #FFFFFF;
}

.summit_bg_3 {
  background-image: url("../img/summit/summitbrandingBG@1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.summit_bg_3 .summit_logo {
  margin: 60px auto -220px;
}

.summit_bg_4 {
  background-image: url("../img/summit/Create_goal_mockup BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.summit_bg_5 {
  background-image: url("../img/summit/saving_plan_mockup BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.summit_bg_6 {
  background-image: url("../img/summit/summitmockup4@1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.darkblue {
  background-color: #1261D8;
  padding: 25px 0;
  background-position: center;
}

.summit_bg_8 {
  background-image: url("../img/summit/summit_mockup_mint BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  }

/*.summit_font_logo {
  display: flex;
  width: 40%;
  margin: 0em 12em;
  padding: 0 15px;
}*/

.summit_icon {
  justify-content: center;
  align-items: center;
  width: 2em !important;
  margin: 0 12px;
}

.graph {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.symbol {
  width: 19em;
}

.user_flow {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overlap {
  margin-top: 180px;
}

.screen_mockup {
  margin: 12px 0;
}

.column_paragraph.green {
color: #31B055;
}

.column_paragraph.blue {
color: #1169EE;
}

.column_paragraph.orange {
color: #F76943;
}

/* ---------------------NOTEPAGE---------------------*/
/* ------------------------------------------------------*/
.note_bg1 {
  background-image: url("../img/note/note_mockup1 BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.note_bg_2 {
background-color: #FBFBFC;
}

.note_mockup2 {
  padding: 0px 0;
}

/*------------------------ about page-----------------------*/
/*----------------------------------------------------------*/
/*---------------------------------------------------------*/

.about h1 {
  width: 100%;
  margin: 1em auto;
}

.resume {
  padding: 1em 0;
  text-align: center;
}

.skill {
  text-align: center;
  padding-bottom: 4px;
}

.skill .row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
  padding-bottom: 12px;
  border-bottom: 1px solid #C6C6C6;
}

.skill ul {
  list-style: none;
  padding-left: 0
}

.tool h3 {
  margin: 1em 10em;
}

.tool ul {
  list-style: none;
  margin: 0 9em;
}

.skills-tools {
  flex-direction: column;
}

/* ------------------------------------------------------*/
/* -----------------Footer-------------------------------*/
/* ------------------------------------------------------*/


footer {
  background-color: #F5F5F5;
  text-align: center;
  border-top: 1px solid #DADADA;
}

footer .container {
  padding-top: 1em;
  padding-bottom: 1em
}

.copyright p {
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

.col-sm-1 {
  width: 8.33%;
}

.col-sm-2 {
  width: 16.66%;
}

.col-sm-3 {
  width: 25%;
}

.col-sm-4 {
  width: 33.33%;
}

.col-sm-5 {
  width: 41.66%;
}

.col-sm-6 {
  width: 50%;
}

.col-sm-7 {
  width: 58.33%;
}

.col-sm-8 {
  width: 66.66%;
}

.col-sm-9 {
  width: 75%;
}

.col-sm-10 {
  width: 83.33%;
}

.col-1sm-1 {
  width: 91.66%;
}

.col-sm-12 {
  width: 100%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  nav li {
    border-bottom: 3px solid transparent;
  }

  nav li:hover {
    border-bottom: 3px solid #000000;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  main {
    padding-top: 85px;
}

  .flex {
    display: flex;
    justify-content: space-between;
    /*padding-bottom: 45px;*/
  }
  .summit_bg_3 .summit_logo {
    width: 50%;
    margin: 60px auto -220px;
  }

  .graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .col-m-1 {
    width: 8.33%;
  }

  .col-m-2 {
    width: 16.66%;
  }

  .col-m-3 {
    width: 25%;
  }

  .col-m-4 {
    width: 33.33%;
  }

  .col-m-5 {
    width: 41.66%;
  }

  .col-m-6 {
    width: 50%;
  }

  .col-m-7 {
    width: 58.33%;
  }

  .col-m-8 {
    width: 66.66%;
  }

  .col-m-9 {
    width: 75%;
  }

  .col-m-10 {
    width: 83.33%;
  }

  .col-m-11 {
    width: 91.66%;
  }

  .col-m-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
  }

  .skills-tools {
    flex-direction: row;
  }

  .portrait img {
    max-width: 400px;
    padding-top: 4em;
  }

  .portrait {
    text-align: center;
    display: block;
  }

  .resume {
    padding-top: 1em;
    text-align: center;
    padding-top: 2em
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 85px;
}
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

.summit_bg_3 .summit_logo {
  width: 50%;
  margin: 60px auto -220px;
}


  .col-l-1 {
    width: 8.33%;
  }

  .col-l-2 {
    width: 16.66%;
  }

  .col-l-3 {
    width: 25%;
  }

  .col-l-4 {
    width: 33.33%;
  }

  .col-l-5 {
    width: 41.66%;
  }

  .col-l-6 {
    width: 50%;
  }

  .col-l-7 {
    width: 58.33%;
  }

  .col-l-8 {
    width: 66.66%;
  }

  .col-l-9 {
    width: 75%;
  }

  .col-l-10 {
    width: 83.33%;
  }

  .col-l-11 {
    width: 91.66%;
  }

  .col-l-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }
  .summit_bg_3 .summit_logo {
    width: 50%;
    margin: 60px auto -220px;
  }

  .graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .col-8 {
    width: 66.66%;
  }

  [class*="col-"] {
    float: left;
  }
}

.illustration {
  max-width: 100%;
}

/* ------------------------------------------------------*/
/* ------------------animation---------------------------*/
/* ------------------------------------------------------*/

/*
@keyframes color-change {
  from {
    fill: #EDC655;
  }

  to {
    fill: #F76414;
  }
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
*/
