/*
Colors used:

Button//
Primary color :#000000 black
Secondary color :#C6C6C6 lightgrey
Hover : #C6C6C6
visited : #8C8C8C

About page //
Text >
Header : light grey #C6C6C6;
Subtitle, Body text,Caption : grey #8C8C8C;
CTA :#C6C6C6;

Styling :
Header frame BG: beige #3B3734
BG: gradiant #302A27 & #000000;

Index page //

Navigation section >
Active #000000 ;
Inactive #C6C6C6
BG : #FFFFFF

Body >
header white #000000
Subtilte : grey #8C8C8C
Body text : light grey #C6C6C6
Background: lighter grey #F5F5F5

Footer section >
CTA: black #000000 ;
Subtitle: light gray #C6C6C6
BG : white #FFFFFF

Summit container >
Text : dark blue #032870 ;
Button : blue #1169EE;

Userflow container  Text : green #1E6E35 ; red #F76943; Blue #1169EE
*/
body {
  background-color: #FFFFFF;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  /* Sets the font size From 16px to 36px */
  font-weight: 400;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #C6C6C6;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  color: #000000;
  font-size: 2.25em;
  /*  36px */
  font-weight: 700;
}
h2 {
  color: #000000;
  font-size: 1.125em;
  /*  24px */
  font-weight: 700;
}
h3 {
  color: #000000;
  font-size: 1.125em;
  /*  24px */
  font-weight: 700;
}
h4 {
  font-size: 1em;
  /*  16px */
  font-weight: 600;
}
img {
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
  /* No underlining */
}
/*#033D7C */
a:hover {
  color: #000000;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}
a:visited {
  /* visited link */
  color: #8C8C8C;
}
a:active {
  /* selected link */
  color: #1169EE;
  text-decoration: underline;
}

a:focus {
  color: #00DDD0;
  text-decoration: underline;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #000000;
  color: #FFFFFF;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 0px solid #FFFFFF;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #000000;
  font-weight: 400;
  border: 2px solid #000000;
}

.button.contact:hover {
  background-color: #000000;
  color: #FFFFFF;
}
